<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ipp="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Waldon Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/styles/app.css">
      
        <script type="text/javascript" src="{{appCenter}}/Content/IA/intuit.ipp.anywhere-1.3.1.js"></script>
        <script>
            intuit.ipp.anywhere.setup({
                grantUrl: '{{grantUrl}}',
                datasources: {
                    quickbooks : true,  // set to false if NOT using Quickbooks API
                    payments : false// set to true if using Payments API
                }
            });
        </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-push-9">
            <ipp:connectToIntuit></ipp:connectToIntuit>
            <a href="/logout">Logout</a>
            <form>
                <select class="form-control" name="company">
                    {{#each companies}}    
                        {{companyOption @index this}}
                    {{/each}}
                </select>
            </form>
            </div>
        </div>
        <div id="content" class="row"></div>
    </div>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react-with-addons.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
    <!--<script src="https://www.parsecdn.com/js/parse-latest.js"></script>-->
    <!--<script src="https://www.parsecdn.com/js/parse-react.js"></script>-->
    <script src="src/bundle.js"></script>
</body>
</html>