<header>
    {{#if profile}}
        <span><a href="/logout">Logout of {{profile.displayName}}'s Google</a></span>
        {{#unless qbo}} 
            <ipp:connectToIntuit></ipp:connectToIntuit>
        {{/unless}}
    {{else}}
        <a href="/login">Login with Google</a> 
    {{/if}}
</header> 
    